interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://nominatim.openstreetmap.org/search?q=512+LIBERTY+EXPRESSWAY+SE+ALBANY+DOUGHERTY+GA+31705&format=json&limit=1
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://nominatim.openstreetmap.org/search?q=512+LIBERTY+EXPRESSWAY+SE+ALBANY+GA+31705&format=json&limit=1
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://nominatim.openstreetmap.org/search?q=512+LIBERTY+EXPRESSWAY+ALBANY+DOUGHERTY+GA+31705&format=json&limit=1
  response:
    body:
      string: "[{\"place_id\":231451343,\"licence\":\"Data \xA9 OpenStreetMap contributors,
        ODbL 1.0. https://osm.org/copyright\",\"osm_type\":\"way\",\"osm_id\":617655954,\"boundingbox\":[\"31.5411127\",\"31.5537006\",\"-84.1117466\",\"-84.0980458\"],\"lat\":\"31.54827665\",\"lon\":\"-84.10798120068999\",\"display_name\":\"Proctor
        & Gamble - Albany Plant, 512, Liberty Expressway, Oak Grove Estates Mobile
        Home Park, Albany, Dougherty County, Georgia, 31705, United States\",\"class\":\"man_made\",\"type\":\"works\",\"importance\":0.7201}]"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://nominatim.openstreetmap.org/search?q=7320+MILL+RD+FLORENCE+FLORENCE+SC+29506&format=json&limit=1
  response:
    body:
      string: "[{\"place_id\":104780821,\"licence\":\"Data \xA9 OpenStreetMap contributors,
        ODbL 1.0. https://osm.org/copyright\",\"osm_type\":\"way\",\"osm_id\":12391207,\"boundingbox\":[\"34.186734\",\"34.2003007\",\"-79.5944004\",\"-79.5803907\"],\"lat\":\"34.1941851\",\"lon\":\"-79.586317\",\"display_name\":\"Paper
        Mill Road, Florence County, South Carolina, United States\",\"class\":\"highway\",\"type\":\"tertiary\",\"importance\":0.4}]"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
